- if review.liked_by(current_user.id)
  = link_to review_like_path(review_id: review.id, id: review.likes[0].id), method: :delete, class: 'like__button', remote: true do
    = fa_icon 'heart', class: 'like__icon--liked'
  %span.like__count
    = review.likes.where(flag: 1).count

- else
  = link_to review_likes_path(review), method: :post, class: 'like__button', remote: true do
    = fa_icon 'heart-o', class: 'like__icon'
  %span.like__count
    = review.likes.where(flag: 1).count