.album-show__detail
  .album-show__detail__album-image
    = image_tag album.image, class: 'album-show__detail__album-image__image'
  .album-show__detail__info
    .album-show__detail__info__album-title
      = album.title
    .album-show__detail__info__artist-name
      = album.artist.name
  .tracks
    - if tracks
      .tracks__header
        .tracks__header__track
          Tracks
        .tracks__header__sample
          Sample
      - tracks.each do |track|
        .track
          .track__info
            .track__info__number
              = "#{track.track_number}."
            .track__info__name
              = track.name
          - if track.preview_url
            .track__audio
              = button_tag type: 'button', class: 'track__audio__button' do
                = fa_icon 'play-circle'
              = button_tag type: 'button', class: 'track__audio__button--stop' do
                = fa_icon 'pause-circle'
              %audio{src: "#{track.preview_url}", class: "prev-audio"}
