= render partial: 'layouts/header'

.wrapper
  .recomu-top
    .albums
      - @albums.each do |album|
        .album{ontouchstart: ''}
          = link_to album_path(album) do
            .album__album-image
              = image_tag album.image, class: 'album__album-image__image'
            .album__info
              .album__info__album-title
                %span.over-scroll
                  = album.title
              .album__info__artist-name
                %span.over-scroll
                  = album.artist.name

= render partial: 'layouts/post'