= render partial: 'layouts/header'

.wrapper
  .recomu-top
    .albums
      - @albums.each do |album|
        .album
          = link_to album_path(album) do
            .album__album-image
              - if album.image.present?
                = image_tag album.image, class: 'album__album-image__image'
              - else
                = image_tag 'no_image.png', class: 'album__album-image__image'
            .album__info.over-
              .album__info__album-title
                %span.over-scroll
                  = album.title
              .album__info__artist-name
                %span.over-scroll
                  = album.artist.name

= render partial: 'layouts/post'