= render partial: 'layouts/header'

.wrapper
  .album-show
    .upper
      .album-show__detail
        .album-show__detail__album-image
          - if @album.image.present?
            = image_tag @album.image, class: 'album-show__detail__album-image__image'
          - else
            = image_tag 'no_image.png', class: 'album-show__detail__album-image__image'
        .album-show__detail__info
          .album-show__detail__info__album-title
            = @album.title
          .album-show__detail__info__artist-name
            = @album.artist.name
        .tracks
          - if @tracks
            - @tracks.each do |track|
              .track
                .track__info
                  .track__info__number
                    = "#{track.track_number}."
                  .track__info__name
                    = track.name
                - if track.preview_url
                  .track__audio
                    = button_tag type: 'button', class: 'track__audio__button' do
                      = fa_icon 'play-circle'
                    = button_tag type: 'button', class: 'track__audio__button--stop' do
                      = fa_icon 'pause-circle'
                    %audio{src: "#{track.preview_url}", class: "prev-audio"}

      
      .border-radius
        .reviews
          - @album.reviews.each do |review|
            .review
              .review__user-name
                = review.user.nickname
              .review__content
                .review__content__text
                  = review.content
              %ul.review__tags
                - review.tags.each do |tag|
                  %li.review__tags__tag
                    = tag.name

    .bottom  
      .another-albums
        .another-albums__header
          = @album.artist.name
          %span
            の他のアルバム
        .another-albums__container
          - if @album.another_albums().present?
            - @album.another_albums().each do |another_album|
              .another-albums__container__album
                = link_to album_path(another_album) do
                  .album-image
                  - if another_album.image.present?
                    = image_tag another_album.image, class: 'album-show__detail__album-image__image'
                  - else
                    = image_tag 'no_image.png', class: 'album-image__content'
                  .album-info
                    .album-info__album-title
                      = another_album.title
