= render partial: 'layouts/header'

.wrapper
  .album-show
    .upper
      = render partial: 'album_info', locals: {album: @album, tracks: @tracks}
      
      .border-radius.pjax-wrapper
        #pjax-container
          .reviews
            .reviews__header
              Reviews
            - @album.reviews.reverse.each do |review|
              .review
                .review__user-name
                  = review.user.nickname
                %ul.review__tags
                  - review.tags.each do |tag|
                    %li.review__tags__tag
                      = tag.name
                = link_to review_path(review), class: 'review__link js-pjax' do
                  .review__content
                    .review__content__text
                      = simple_format(review.content)

                %ul.review__bottom
                  .review__bottom--left
                    - if user_signed_in?
                      - if review.user.id == current_user.id
                        %li.review-delete.js-modal-delete-review{data: {target: "modal--delete-review__#{review.id}"}}
                          = fa_icon 'trash', class: 'review-delete__icon'

                  .review__bottom--right
                    %li.comment-icon.js-modal-open{data: {target: "modal--#{review.id}"}}
                      = fa_icon 'comment-o', class: 'comment-icon__icon'
                      %span.comment-icon__count
                        = review.comments.count
                    %li.like{id: "like--#{review.id}"}
                      = render partial: 'likes/like', locals: {review: review}
                  
                = render partial: 'modals/comment', locals: {review: review}
                = render partial: 'modals/review-delete', locals: {review: review}


          .post
            - if user_signed_in?
              = button_tag '', class: "post__button", id: 'js-modal-review' do
                = fa_icon "edit", class: 'post__button__edit'
                %p.post__button__message
                  Post
            - else
              = link_to new_user_session_path, class: 'post__button' do
                = fa_icon "edit", class: 'post__button__edit'
                %p.post__button__message
                  Post

    .bottom  
      = render partial: 'another-albums', locals: {album: @album}
  
  = render partial: 'modals/review', locals: {album: @album}
