= render partial: 'layouts/header'

.wrapper
  .album-show
    .upper
      = render partial: 'album_info', locals: {album: @album, tracks: @tracks}
      
      .border-radius
        .reviews
          .reviews__header
            Reviews
          - @album.reviews.each do |review|
            .review
              .review__user-name
                = review.user.nickname
              %ul.review__tags
                - review.tags.each do |tag|
                  %li.review__tags__tag
                    = tag.name
              = link_to review_path(review), class: 'review__link' do
                .review__content
                  .review__content__text
                    = simple_format(review.content)
              .like{id: "like--#{review.id}"}
                = render partial: 'likes/like', locals: {review: review}

    .bottom  
      .another-albums
        .another-albums__header
          = @album.artist.name
          %span
            の他のアルバム
        .another-albums__container
          - if @album.another_albums().present?
            - @album.another_albums().each do |another_album|
              .another-albums__container__album
                = link_to album_path(another_album) do
                  .album-image
                  - if another_album.image.present?
                    = image_tag another_album.image, class: 'album-image__content'
                  - else
                    = image_tag 'no_image.png', class: 'album-image__content'
                  .album-info
                    .album-info__album-title
                      = another_album.title

  = render 'layouts/post'