.main
  .review-show
    .review-show__review
      .review__album-title
        = @review.album.title
      .review__artist-name
        = @review.album.artist.name
      .review__tags
        - @review.tags.each do |tag|
          = tag.name
      .review__content
        = simple_format(@review.content)
  
  .like
    = render partial: 'likes/like', locals: {review: @review}

  %ul.comments#comments
    - @review.comments.each do |comment|
      %li.comment
        .comment__user-nickname
          = comment.user.nickname
        .comment__content
          = simple_format(h(comment.content))
        .comment__time
          = l comment.created_at, format: :short
  
  .post-comment
    = form_with model: [@review, @comment], id: 'comment-form' do |f|
      = f.text_area :content
      = f.submit '投稿！', id: 'post-comment__submit', data: {'disabled-with': '投稿中…'}