= render partial: 'layouts/header'

.wrapper
  .review-show
    .upper
      = render partial: 'albums/album_info', locals: {album: @review.album, tracks: @tracks}

      .review-comment
        .review
          .review__header
            Review

          .review__info
            .review__info__user-name
              = @review.user.nickname
            .review__info__tags
              - @review.tags.each do |tag|
                .review__info__tags__tag
                  = tag.name
          .review__content
            = simple_format(@review.content)
          
          %ul.review__bottom
            %li.comment-icon
              = fa_icon 'comment-o', class: 'comment-icon__icon'
              %span.comment-icon__count
                = @review.comments.count
          
            %li.like{id: "like--#{@review.id}"}
              = render partial: 'likes/like', locals: {review: @review}
        
        %ul.comments#comments
          - @review.comments.reverse_each do |comment|
            %li.comment
              .comment__user-name
                = comment.user.nickname
              .comment__time
                = l comment.created_at, format: :short
              .comment__content
                = simple_format(h(comment.content))

        .post-comment
          = form_with model: [@review, @comment], id: 'comment-form' do |f|
            = f.text_area :content, class: 'post-comment__text'
            .post-comment__submit
              = f.submit 'Comment', class: 'post-comment__submit__button',id: 'post-comment__submit', data: {'disabled-with': '投稿中…'}